Assets/Schema/locale.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="locale">
  <xs:element name="locale">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="page">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="line" type="xs:string" />
            </xs:sequence>
            <xs:attribute type="xs:string" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="language"/>
    </xs:complexType>
  </xs:element>
</xs:schema>